{{!< layouts/main}}

<h2>Login</h2>
<form action="login" method="POST" class="p-4 bg-light rounded shadow-sm">
  <div class="mb-3">
    <label for="email">E-mail</label>
    <input type="email" name="email" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="password">Senha</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>
