{{!< layouts/main}}

<h2>Ranking</h2>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>#</th>
      <th>Usuário</th>
      <th>Curso</th>
      <th>Pontuação</th>
    </tr>
  </thead>
  <tbody>
    {{#each ranking}}
      <tr>
        <td>#{{@index}}</td>
        <td>{{user.full_name}}</td>
        <td>{{user.major.name}}</td>
        <td>{{score}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
