<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/game/style.css">
  </head>
  <body>
    <div id="space"></div>
    <div id="hud">
      <span id="score">0</span>
      <div id="lives"></div>
    </div>
    <script src="/public/game/main.js"></script>
    <script>
    // Essa função pode ser chamada de dentro do seu jogo
    function salvarPontuacao(score) {
        fetch('/score', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify({ score: finalScore }),
})
  .then(response => response.text())
  .then(data => console.log('Resultado:', data))
  .catch(err => console.error('Erro ao salvar score:', err));

    }
    </script>

  </body>
</html>
