body {
  font-family: sans-serif;
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

main {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 2em;
  border-radius: 10px;
}

input, button {
  padding: 0.5em;
  margin-left: 0.5em;
}

p {
  text-align: justify;
  margin-top: 1em;
}
