p {
    background:#C0C0C0;
    border: 8px solid black;
    border-top-left-radius: 16px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 40px;
    padding: 10px;
    }