<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Confirmação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir este {{this}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" onclick="confirmarExclusao()">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<script>
  let idParaExcluir = null;

  function abrirModal(id) {
    idParaExcluir = id;
    const modal = new bootstrap.Modal(document.getElementById('modalDelete'));
    modal.show();
  }

  function confirmarExclusao() {
    fetch(`/users/${idParaExcluir}`, {
      method: 'DELETE'
    }).then(() => {
      location.reload();
    });
  }
</script>
