{{!< layouts/main}}

<h1>Sobre o Jogo Space Shooter</h1>
<p>
  Space Shooter é um jogo clássico onde o jogador controla uma nave e enfrenta ondas de inimigos espaciais.
  O objetivo é sobreviver o máximo possível, destruindo inimigos e desviando de ataques.
</p>
<img src="/img/player.png" alt="Imagem do Space Shooter" width="500">
