{{!< layouts/main}}


<link rel="stylesheet" href="/game/css/style.css" />


<div id="space"></div>

<div id="hud">
  <span id="score">0</span>
  <div id="lives"></div>
</div>

<script type="module" src="/game/js/game.js"></script>
