<h1>{{title}}</h1>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Posição</th>
      <th>Usuário</th>
      <th>Pontuação</th>
    </tr>
  </thead>
  <tbody>
    {{#each ranking}}
      <tr>
        <td>{{@indexPlusOne}}</td>
        <td>{{this.name}}</td>
        <td>{{this.score}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script>
  // Helper para exibir posição começando em 1
  Handlebars.registerHelper('indexPlusOne', function (index) {
    return index + 1;
  });
</script>
